@{
    ViewBag.Title = "page";
}

<h2>Email Already Exists! Please Enter Another Email</h2>

<form action="/Home/account" method="post">
    <div class="clearfix"> </div>
    <div class="register-but">
            <input type="submit" value="Back">
            <div class="clearfix"> </div>

    </div>
</form>
