@{
    ViewBag.Title = "Return";
}

<h2>Invalid Email or Password! Go Back</h2>

<form action="/Home/login">
<div class="clearfix"> </div>
<div class="register-but">
    <input type="submit" value="Back">
    <div class="clearfix"> </div>

</div>
</form>